* {
    margin: auto;
}

/*Custom Properties*/
:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fbf5f3;
    --clr-dark: #0F0E0E;
    --clr-accent1:#70161E;
    --clr-accent2: #7EA16B;
    --clr-accent3: #596F62;
    --clr-accent4: #1C3144; 


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

header{
    background: var(--clr-dark);
    color:var(--clr-light);
}

#title, #subtitle{
    text-align: center;
    font-family: serif;
}

header #logo{
    width:100px;
    position: absolute;
}

#subnav {
    text-align: center;
    display: block;
}


#subnav button {
    text-align: center;
    width: 50%;
}

#subnav .option{
    margin:5px;
    width:40%;
}

aside{
    position: fixed;
    max-width: 20%;
    left:-5px;
    border: ridge;
    border-color: var(--clr-accent3);
    font-family: serif;
    background: var(--clr-accent4);
    color: var(--clr-light);
    padding:5px;
}

#main {
    text-align: center;
}

#main button{
    text-align: center;
    width: 40%;
    margin:5px;
}

#main img{
    width:40%;
}

#subnav select {
    width: 60%;
}

@media(max-width:600px){
    .logo {
        opacity: 0;
    }

    #subnav .option, #subnav select {
        width:90%;
    }

    #main button {
        width:80%;
    }
    
}