* {
    margin: auto;
}

/*Custom Properties*/
:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fbf5f3;
    --clr-dark: #0F0E0E;
    --clr-accent1:#1B9AAA;
    --clr-accent2: #DDDBCB;
    --clr-accent3: #F5F1E3;
    --clr-accent4: #b0e0e6; 


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

header{
    /*background: var(--clr-dark);*/
    color:var(--clr-light);
}

#title, #subtitle{
    text-align: center;
    font-family: serif;
}

header #logo{
    width:100px;
    position: absolute;
}

#subnav {
    text-align: center;
    display: block;
}


#subnav button {
    text-align: center;
    width: 50%;
}

#subnav .option{
    margin:5px;
    width:40%;
}

aside{
    position: fixed;
    max-width: 20%;
    left:-5px;
    bottom:50px;
    border: ridge;
    border-color: var(--clr-accent3);
    font-family: serif;
    background: var(--clr-accent4);
    color: var(--clr-light);
    padding:5px;
}

#body{
    background-image: url(../imgs/dogbog.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: color-burn;
}

#main {
    text-align: center;
    justify-content: space-evenly;
}

.output{
    color: var(--clr-light);
}

.btn{
    background: var(--clr-accent2);
    color:var(--clr-dark);
    margin:5px;
}

.btn:hover {
    background: var(--clr-accent3);
    color:var(--clr-accent1)
}

.btn:focus {
    scale: 1.5;
    background: var(--clr-accent2);
    color:var(--clr-accent1)
}

.option {
    background: var(--clr-accent3);
    color:var(--clr-dark);
    text-align: center;
    width: 40%;
    margin:5px;
}

#main img{
    width:40%;
    box-shadow: var(--bs);
}

#subnav select {
    width: 60%;
}

#main h5 {
    font-weight: 900;
    color: var(--clr-dark);
}

#main p {
    color: var(--clr-dark);
    font-weight: 600;
    margin:auto;
    width:60%;
    
}
#fix {
    background: var(--clr-accent3);
    width: 50%;
}
@media(max-width:600px){
    .logo {
        opacity: 0;
    }

    #subnav .option, #subnav select {
        width:90%;
    }

    #main button {
        width:80%;
    }
    
}