*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /*max-width: 600px;*/
    margin: auto;
}

#main{
    max-width:600px
}
/*Custom Properties*/
:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-light-accent: #ffc857;
    --clr-dark-accent: #2e4052; 


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

.title{
    background:var(--clr-dark-accent);
    color:var(--clr-light);
    width: 50%;
    text-align: center;
    
}

.subtitle {
    background:var(--clr-light-accent) ;
    color:var(--clr-dark);
    width:80%;
    text-align: center;
}

button{
    background: var(--clr-light-accent);
    color:var(--clr-light);
}

button:hover {
    background: var(--clr-dark-accent);
}


.input{
    justify-content: center;
    margin: auto;
    width: 100%;
}

#lyrics{
    position: relative;
    width: 100%;
    padding: 10px;
}

#output {
    color: var(--clr-light);
    background: var(--clr-light-accent);
}


#outputList{
    max-width: 1000px;
    margin: auto;
    color: var(--clr-light);
    background: var(--clr-dark-accent);
}

ul {
    padding-left: 10px;
}

ul ul{
    columns: 2;
}

.optionButtons{
    display: grid;
}
#btn1, #btn2, #btn3, #btn4, #btn5 {
    visibility: hidden;
}

#lyrics {
    background: var(--clr-light);
    color: var(--clr-dark-accent);
}


@media(min-width:700px){
    ul ul {
        columns: 3;
        
    }
}

@media(min-width:900px){
    ul ul {
        columns: 4;
        
    }
}