* {
    margin: auto;
}



/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--clr-accent3); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--clr-accent1); 
    border-radius: 10px;
  }

  /* Corner */
  ::-webkit-scrollbar-corner {
      background: var(--clr-accent2);
  }


/*Custom Properties*/
:root {
    --clr-light: #fbf5f3;
    --clr-dark: #0F0E0E;
    --clr-accent1:#44CFCB;
    --clr-accent2: #4EA5D9;
    --clr-accent3: #2A4494;
    --clr-accent4: #224870; 

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

html {
    background: var(--clr-dark);
}

#title{
    text-align: center;
    font-family: 'Montserrat Subrayada', serif;
    color:var(--clr-accent1);
    margin-top:0px;    
}


#title::before{
    
    content:"";
    width:10%;
    height:1px;
    background: var(--clr-accent1);
    display:block;
    margin: 0.5em auto 0.1em;
}

#title::after{
    
    content:"";
    width:40%;
    height:1px;
    background: var(--clr-accent1);
    display:block;
    margin: 0.5em auto 1em;
}


aside{
    text-align: center;
    position: fixed;
    background: var(--clr-accent4);
    color:var(--clr-light);
    padding:5px;
    border-radius: 1em;
    left:0px;
    height:50%; 
    box-shadow: var(--bs);
    overflow-y: scroll;
    
}

aside ul {
    list-style: none;
}

li button {
    background: var(--clr-accent2) ;
    color: var(--clr-dark);
    margin:0px;
    padding:2px;
    line-height: 0em;
    border:none;
    font-size:10px;
    width:100%;
}

li button:active{
    background:var(--clr-accent4);
    color:var(--clr-light)
}

#output{
    width:50%;
    align-items: center;
    text-align: center;
    background: var(--clr-accent4);
    color:var(--clr-light);
    padding:10px;
    border-radius: 3em;
}

.faded-in{
    opacity:1;
    transition: all 2s ease-in;
}

.faded-out{
    opacity:0;
    transition: all 5s ease-in;
}

.productHeading{
    font-family: 'Montserrat Subrayada', serif;
}

.productDescription{
    font-family: 'Righteous', cursive;
}

#recipe button {
    background: var(--clr-accent1);
    color:var(--clr-dark);
    margin: 5px;
}


@media(max-width:835px){
    #output{
        width:80%;
        margin-top: 5px;
    }
    aside{
        position: relative;
    }
}