/*Custom Properties*/
:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-light-accent: #9e2a2b;
    --clr-dark-accent: #335c67; 


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

@media(max-width:800px){
    * {
        width:100%
    }
}

nav {
    justify-content: space-evenly;
    margin: auto
}

header, a {
    background: var(--clr-dark-accent);
    color: var(--clr-light);
    text-decoration: none;
}

a:visited{
    color: var(--clr-light);
}




h2, h4{ 
    background-color: var(--clr-light-accent);
    color: var(--clr-dark)
}

h3,h5{
    
    background-color: var(--clr-dark-accent);
    color: var(--clr-light)
}


nav button {
    background: var(--clr-light-accent);
    color: var(--clr-light);
}

nav button:hover{
    background: var(--clr-dark);
    color:var(--clr-light-accent)
}


#nameElement{
    text-align: center;
}