/*Custom Properties*/
:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-light-accent: #9CC5A1;
    --clr-mid-accent: #49A078;
    --clr-dark-accent: #1F2421; 


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

@media(max-width:800px){
    * {
        width:100%
    }
}


#covid, a:visited {
    background: var(--clr-dark-accent);
    color: var(--clr-light-accent);
}


a:visited{
    color: var(--clr-light-accent);
    text-decoration: none;
}




h3,h5{
    
    background-color: var(--clr-dark-accent);
    color: var(--clr-light)
}



#mainMenu {
    display: flex;
    justify-content: center;
    
}


button {
    background: var(--clr-dark-accent);
    color: var(--clr-light);
    margin: 5px;
    
}

button:hover{
    background: var(--clr-light-accent);
    color:var(--clr-dark)
}

#nameElement{
    text-align: center;
}

#navbar{
    display: flex;
    justify-content: center;
    
}


.output{ 
    background-color: var(--clr-light-accent);
    color: var(--clr-dark)
}