/*Custom Properties*/
:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-light-accent: #2274a5;
    --clr-dark-accent: #131b23; 


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

* {
    min-width: 300px;
}

header, a {
    background: var(--clr-dark-accent);
    color: var(--clr-light);
    text-decoration: none;
}


h2, h4{ 
    margin: 0;
    background-color: var(--clr-light-accent);
    color: var(--clr-dark)
}

h3,h5{
    float: end;
    background-color: var(--clr-dark-accent);
    color: var(--clr-light)
}