/*Custom Properties*/
:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-light-accent: #596F62;
    --clr-mid-accent: #1C3144;
    --clr-dark-accent: #70161E; 


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

@media(max-width: 600px){

    #mainMenu{
        display:block;
        margin:5px;
    }
    button {
        width: 80%
    }
}

header{
    background: var(--clr-mid-accent);
    color: var(--clr-dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header a {
    text-decoration: none;
    color: var(--clr-light);justify-content: center;
    text-align: center;
}


nav button {
    background: var(--clr-dark-accent);
    color: var(--clr-light);
    margin: 5px;
}

nav button:hover{
    background: var(--clr-light-accent);
    color: var(--clr-dark);

}

#mainMenu {
    display: flex;
    justify-content: center;
    
}

#navbar{
    display: flex;
    justify-content: center;
}

.output{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#output:first-child{
    background: var(--clr-light-accent);
}