*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family:"STARWARS";
    src:url("STARWARS.eot?") format("eot"),
    url("STARWARS.woff") format("woff"),
    url("STARWARS.ttf") format("truetype"),
    url("STARWARS.svg#STARWARS") format("svg");
    font-weight:normal;
    font-style:normal;
}

img {
    width:100%;
    height:100%
}

#title {
    font-family:"STARWARS";
    font-style: oblique;
    text-align: center;
    background: #000000;
    color: yellow;
    margin:0
}

#quote {
    width:100%;
    text-align: end;
    font-family: "STARWARS";
}

#location, #temp {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#weather{
    visibility: hidden;
}
#main {
    color: #fff;
    padding:5px;
}
