#title {
    text-align: center;
    background: #000000;
    color: yellow;
    margin:0
}

#quote {
    width:100%;
    text-align: end;
}
#weather{
    visibility: hidden;
}
#main {
    color: #fff;
}