/*Custom Properties*/
:root {
    --clr-light: #fbf5f3;
    --clr-dark: #0F0E0E;
    --clr-accent1:#D2D0BA;
    --clr-accent2: #B6BE9C;
    --clr-accent3: #e5c1bd;
    --clr-accent4: #5E747F; 

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: auto;
}


.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom:0;
    left:0;
    right:0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
}

.nav__list {
    list-style:none;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent2);
}

.nav-toggle {
    padding:.5em;
    background: transparent;
    border: 0;
    cursor:pointer;
    position: absolute;
    right:1em;
    top: 1em;
    z-index: 1000;
}


.nav-open .nav {
    /* Slide in-and-out */
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(315deg);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}

/* Hamburger */

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent1);
    width: 2em;
    height:3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px;}

.hamburger::after{ bottom: 6px;}

body {
    background: var(--clr-accent4);
}


header{
        text-align: center;
        color: var(--clr-light);
        margin:0;
}

#heading:after {
    content:"";
    background:var(--clr-accent1);
    display:block;
    margin:auto;
    opacity:0.5;
    width:80%;
    height:0.5px;
}
 
#output{
    background: var(--clr-accent1);
    margin: 10px;
    box-shadow:var(--bs);
}

#mainContainer{
    background: var(--clr-accent4);
    text-align: center;
    margin: 0;
}
#mainContainer button{
    background: var(--clr-accent2);
    color:var(--clr-dark);
}

#mainContainer  button:hover{
    background: var(--clr-accent3);
}

@media(max-width: 800px){
    #output{
        text-align: center;
    }
    img{
        text-align: center;
        position: static;
        top: 10px;
    }
}